@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body {
        background-color: #405d27;
    }

    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 0.9em;
        min-width: 400px;
        overflow: hidden;
        box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
        background-color: #fff5;
    }

        .content-table::-webkit-scrollbar {
            width: 8px 8px 0 0;
            height: 8px 8px 0 0;
        }

        .content-table thead tr {
            background-color: #3e4444;
            color: #ffffff;
            text-align: left;
            font-weight: bold;
        }

        .content-table th,
        .content-table td {
            padding: 12px 15px;
        }

        .content-table tbody tr {
            border-bottom: 1px solid #dddddd;
            overflow: auto;
        }

            .content-table tbody tr:nth-child(even) {
                background-color: #f0f5f1;
            }

    button {
        background-color: #3e4444;
        color: white;
        padding: 5px 15px;
        border: none;
        cursor: pointer;
    }
</style>

<a href="@Url.Action("InsertAnOrderDetailForm")"> Insert A Order Detail</a>


<table class="content-table">
    <tr>
        <td>OrderId</td>
        <td>ProductId</td>
        <td>UnitPrice</td>
        <td>Quantity</td>
        <td>Discount</td>
        

    </tr>

    @foreach (var od in ViewBag.ListOfOrderDetails)
    {
        <tr>
            <td>@od.OrderId</td>
            <td>@od.ProductId</td>
            <td>@od.UnitPrice</td>
            <td>@od.Quantity</td>
            <td>@od.Discount</td>
            <td> <a href="@Url.Action("UpdateAnOrderDetailForm", new { aOrderId = od.OrderId })">Update</a> </td>

        </tr>

    }




</table>