@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}





<form action="InsertAOrder" method="Post">

    @*CustomerId <br />
    <input type="test" id="this is for js" class="this is for your css" name="aCustomerId" />
    <br />*@


    Customer Id

    <br />

    <select name="aCustomerId">

        @foreach (var e in ViewBag.ListOfCustomers)
        {
            <option value="@e.CustomerId">@e.CustomerId @e.CompanyName</option>
        }
    </select> <br /><br />


    Employee Id

    <br />

    <select name="aEmployeeId">

        @foreach (var e in ViewBag.ListOfEmployees)
        {
            <option value="@e.EmployeeId">@e.EmployeeId @e.FirstName @e.LastName</option>
        }
    </select> <br /><br />



    @*
    Category Id <br />


    <select name="categoryId">

    @foreach (var c in ViewBag.ListOfCategories)
    {
    <option value="@c.CategoryId ">@c.CategoryName</option>
    }
    </select><br /><br />
    *@


    Order Date <br />
    <input type="text" id="this is for js" class="this is for your css" name="aOrderDate" /><br />

    Reqired Date <br />
    <input type="text" id="this is for js" class="this is for your css" name="aRequiredDate" /><br />

    Shipped Date <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShippedDate" /><br />

    Ship Via <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShipVia" /><br />

    Freight <br />
    <input type="text" id="this is for js" class="this is for your css" name="aFreight" /><br />

    Ship Name <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShipName" /><br />

    Ship Address <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShipAddress" /><br />

    Ship City <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShipCity" /><br />

    Ship Region <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShipRegion" /><br />

    Ship Postal Code <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShipPostalCode" /><br />

    Ship Country <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShipCountry" /><br />

    <input type="submit" />     <input type="reset" />





</form>