



<form action="InsertAOrder" name="Form" onsubmit="return validateForm()" method="Post">

    @*CustomerId <br />
    <input type="test" id="this is for js" class="this is for your css" name="aCustomerId" />
    <br />*@


    Customer Id

    <br />

    <select name="aCustomerId">

        @foreach (var e in ViewBag.ListOfCustomers)
        {
            <option value="@e.CustomerId">@e.CustomerId @e.CompanyName</option>
        }
    </select> <br /><br />


    Employee Id

    <br />

    <select name="aEmployeeId">

        @foreach (var e in ViewBag.ListOfEmployees)
        {
            <option value="@e.EmployeeId">@e.EmployeeId @e.FirstName @e.LastName</option>
        }
    </select> <br /><br />



    @*
    Category Id <br />


    <select name="categoryId">

    @foreach (var c in ViewBag.ListOfCategories)
    {
    <option value="@c.CategoryId ">@c.CategoryName</option>
    }
    </select><br /><br />
    *@


    Order Date <br />
    <input type="text" id="this is for js" class="this is for your css" name="aOrderDate" /><br />

    Reqired Date <br />
    <input type="text" id="this is for js" class="this is for your css" name="aRequiredDate" /><br />

    Shipped Date <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShippedDate" /><br />

    
    Ship Via
    <br />

    [6:20 PM] Woldu, Fanial K
    Ship Via <br />

    <input type="text" id="this is for js" class="this is for your css" name="aShipVia" /><br />

    Freight <br />
    <input type="text" id="this is for js" class="this is for your css" name="aFreight" /><br />

    Ship Name <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShipName" /><br />

    Ship Address <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShipAddress" /><br />

    Ship City <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShipCity" /><br />

    Ship Region <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShipRegion" /><br />

    Ship Postal Code <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShipPostalCode" /><br />

    Ship Country <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShipCountry" /><br />

    <input type="submit" />     <input type="reset" />





</form>

@*######################################################################################*@
@*##########################    JavaScrip Form Validation    ###########################*@
@*######################################################################################*@
@*Logan Krupa*@
<script>
    function validateForm() {


           if (document.forms["Form"]["aOrderDate"].value == "") {
               alert("OrderDate must be filled out");
               return false;
           }
           if (document.forms["Form"]["aRequiredDate"].value == "") {
               alert("RequiredDate must be filled out");
               return false;
           }
           if (document.forms["Form"]["aShippedDate"].value == "") {
               alert("ShippedDate must be filled out");
               return false;
           }
           if (document.forms["Form"]["aShipVia"].value == "") {
               alert("ShipVia must be filled out");
               return false;
           }
           if (document.forms["Form"]["aFreight"].value == "") {
               alert("Freight must be filled out");
               return false;
           }
           if (document.forms["Form"]["aShipName"].value == "") {
               alert("ShipName must be filled out");
               return false;
           }
           if (document.forms["Form"]["aShipAddress"].value == "") {
               alert("ShipAddress must be filled out");
               return false;
           }
           if (document.forms["Form"]["aShipCity"].value == "") {
               alert("ShipCity must be filled out");
               return false;
           }
           if (document.forms["Form"]["aShipRegion"].value == "") {
               alert("ShipRegion must be filled out");
               return false;
           }
           if (document.forms["Form"]["aShipPostalCode"].value == "") {
               alert("ShipPostalCode must be filled out");
               return false;
           }
           if (document.forms["Form"]["aShipCountry"].value == "") {
               alert("ShipCountry must be filled out");
               return false;
           }

       }</script>
